.events {    
    height: 65vh;
    background: $turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .eventsBox {
        width: 300px;
        height: 300px;
        background-color: $aqua;
        position: absolute;
        left: 8%;
        bottom: 21%
    }

    img {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 9%;
    }

    .eventsContainer {
        width: 60%;
        position: absolute;
        right: 8%;
    }

    p {
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        margin: 3.25% 0;
    }

    a {
        font-size: 3rem;
        font-family: "Walter Turncoat", cursive;
        background: $aqua;
        color: $blue;
    }

    a:hover,
    a:focus {
        background: $grey;
        color: $blue;
    }

    @media screen and (max-width: $medium) {

        .eventsBox,
        img {
            width: 300px *0.9;
            height: 300px *0.9;
        }

        .eventsBox {
            left: 7%;
            bottom: 24%
        }
    
        .eventsContainer {
            width: 50%;
        }
    
        p {
            font-size: 1.4rem;
            margin-top: 7%;
            margin-bottom: 5%;
        }
    }

    @media screen and (max-width: $small) {
        height: 140vh;
        flex-direction: column;
        text-align: center;

        .eventsBox {
            left: 9%;
            top: 5%;
        }
    
        img {
            top: 4%;
            left: 12%;
        }
    
        .eventsContainer {
            width: 90%;
            top: 40%;
            left: 7%;
        }
    
        p {
            font-size: 1.4rem;
            margin-top: 7%;
            margin-bottom: 10%;
        }
    }
}
