.events {    
    height: 65vh;
    background: $turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .eventsBox {
        width: 300px;
        height: 300px;
        background-color: $aqua;
        position: absolute;
        left: 8%;
        bottom: 21%
    }

    img {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 9%;
    }

    .eventsContainer {
        width: 60%;
        position: absolute;
        right: 8%;
    }

    p {
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        margin: 3.25% 0;
    }

    .button {
        width: 50%;
    }

    @media screen and (max-width: $XL) {
        .eventsBox {
            bottom: 26%
        }

    }
    
    @media screen and (max-width: $large) {
        .eventsBox,
        img {
            width: 300px *0.9;
            height: 300px *0.9;
        }

        .eventsBox {
            left: 7%;
            bottom: 27%
        }
    
        .eventsContainer {
            width: 60%;
            margin-right: -2.5%;
        }
    
        p {
            margin-top: 7%;
            margin-bottom: 5%;
        }

        .button {
            width: 100%;
        }
    }

    @media screen and (max-width: $medium) {

        .eventsContainer {
            width: 45%;
        }
    }

    @media screen and (max-width: $small) {
        height: 150vh;
        flex-direction: column;

        h3 {
            text-align: center;
        }

        .eventsBox {
            left: 16.5%;
            top: 5%;
        }
    
        img {
            top: 4%;
            left: 18.5%;
        }
    
        .eventsContainer {
            width: 75%;
            top: 40%;
            left: 12.5%;
        }
    
        p {
            margin-top: 7%;
            margin-bottom: 10%;
        }
    }
}
