.roadTrip {
    height: 65vh;
    background: $turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        width: 60%;
    }

    a {
        font-size: 3rem;
        font-family: "Walter Turncoat", cursive;
        background: $aqua;
        color: $blue;
        padding: 0.5% 2%;
    }

    a:hover,
    a:focus {
        background: $grey;
        color: $blue;
    }

    @media screen and (max-width: $medium) {
        height: 80vh;
        text-align: center;

        p {
            width: 90%;
            margin-bottom: 5%;
        }
    }

    @media screen and (max-width: $small) {

        p {
            font-size: 1.6rem;
            margin-bottom: 10%;
        }
    }
}

.stream {
    height: 60vh;
    background-image: url(/funplace-assets/banner.jpg);
    background-position: center;
    background-size: cover;
}