.services {
    height: 100vh;
    background: $blue;
    display: flex;
    position: relative;
    
    .leftSide,
    .rightSide {
        display: flex;
        flex-direction: column;
        
        img {
            width: 670px *1.25;
            height: 419px *1.25;
        }
    }
    
    .leftSide {
        margin-right: auto;
    }

    
    .rightSide {
        width: 45%;
        margin-left: auto;
    }
    
    a {
        display: flex;
    }
    
    p {
        width: 85%;
    }

    .leftBox,
    .rightBox {
        width: 670px *1.25;
        height: 419px *1.25;
        background: $aqua;
        position: absolute;
    }

    .leftBox {
        top: -5%;
        left: 1.5%;
    }

    
    .smile {
        position: absolute;
        top: -7%;
    }
    
    .locations {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 10%;
        width: 49%;
        
        position: absolute;
        bottom: 15%;
    }
    
    .programs {
        padding: 10% 0;
        position: absolute;
    }
    
    .rightBox {
        bottom: -10%;
        right: 1.5%;
    }

    .toy {
        position: absolute;
        bottom: -7.5%;
        right: 0;
    }

    @media screen and (max-width: $XL) {
        height: 90vh;
        
        .leftSide,
        .rightSide {
            
            img {
                width: 670px * 1.125;
                height: 419px * 1.125;
            }
        }

        .leftSide {
            margin-right: auto;
        }

        
        .rightSide {
            width: 47.5%;
            margin-left: auto;
        }
        
        
        p {
            width: 90%;
        }

        .leftBox,
        .rightBox {
            width: 670px * 1.125;
            height: 419px * 1.125;
        }

        .locations {
            width: 46%;
        }
        
        .programs {
            width: 50%;
            padding: 10% 0;
            margin-right: 0; 
        }
    }

    @media screen and (max-width: $large) {
        height: 90vh;
        
        .leftSide,
        .rightSide {
            
            img {
                width: 670px * 0.85;
                height: 419px * 0.85;
            }
        }
        
        .leftSide {
            width: 38%;
        }

        
        .rightSide {
            width: 38%;
            margin-right: 7.5%;
        }
        
        
        p {
            width: 90%;
        }

        .leftBox,
        .rightBox {
            width: 670px * 0.85;
            height: 419px * 0.85;
        }

        
        .locations {
            width: 46%;
        }
        
        .programs {
            width: 50%;
            padding: 5% 0;
            margin-right: 0; 
        }
    }
    
    @media screen and (max-width: $medium) {
        height: 130vh;

        .leftSide,
        .rightSide {
            display: flex;
            flex-direction: column;
            
            img {
                width: 670px;
                height: 419px;
            }
        }
    
        .leftSide {
            width: 1%;
            margin-right: 0;
        }

        
        .rightSide {
            margin-left: 0;
        }

        .leftBox,
        .rightBox {
            width: 670px;
            height: 419px;
        }

        .leftBox {
            top: -6%;
            left: 1.5%;
        }
        
        .smile {
            position: absolute;
            top: -7%;
        }
        
        .locations {
            align-items: center;
            width: 100%;
            top: 22.5%;
        }
        
        .programs {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            top: 47.5%;
        }
        
        .rightBox {
            bottom: -10%;
            right: 1.5%;
        }

        .toy {
            position: absolute;
            bottom: -9%;
            right: 0;
        }
    }

    @media screen and (max-width: $small) {
        height: 170vh;
        flex-direction: column;

        .leftSide,
        .rightSide {
            display: flex;
            flex-direction: column;
            
            .smile,
            .leftBox {
                width: 670px *0.5;
                height: 419px *0.5;
            }

            .toy,
            .rightBox {
                width: 670px *0.425;
                height: 419px *0.425;
            }
        }
    
        .leftSide {
            width: 90%;
            margin: 0 auto;
        }

        
        .rightSide {
            width: 90%;
            margin: 0 auto;
        }


        .leftBox {
            top: -6%;
        }
        
        .locations {
            width: 90%;
            top: 15%;
        }
        
        .programs {
            width: 90%;
            top: 50%;
        }
        
        .rightBox {
            bottom: -6%;
            right: 2.5%;
        }

        .toy {
            bottom: -7%;
            right: 0;
        }

        a {
            width: 90%;
        }

        p {
            font-size: 1.4rem;
        }
    }
    
}