footer {
    height: 5vh;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $darkBlue;

    @media screen and (max-width: $large) {
        
    }

    @media screen and (max-width: $medium) {
        
    }

    @media screen and (max-width: $small) {
        
    }
}