$blue: #474BB5;
$darkBlue: #044779;
$grey: #F3FAFF;
$aqua: #08FDED;
$turquoise: #03697C;

$small: 425px;
$medium: 900px;
$large: 1480px;

html {
    font-size: 62.5%;
}

body {
    color: white;
    position: relative;
    overflow-x: hidden;
    position: relative;
}

.skipLink {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 15%;

    transform: translateY(-1000px);
    color: white;
    
    font-size: 2rem;
    font-family: 'Roboto', cursive;
    border: 0.4rem solid #e85b26;
}

.mainSkip {
    left: 3%;
    top: 4%;
}

.blogSkip {
    left: 11%;
    top: 0.7%;
}

.contactSkip {
    left: 11%;
    top: 3%;
}

.skipLink:focus {   
    transform: translateY(0px);
}

.skipLinkVisibility {
    display: flex;
}

.wrapper {
    max-width: 1480px;
    width: 95%;
    margin: 0 auto;
}

p,
input [type='text'],
li {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    padding: 1% 2%;    
}

p, li {
    line-height: 2.9rem;
    letter-spacing: 0.1rem;
}

h1,
h2,
h3,
button,
input[type="submit"],
.button {
    font-family: 'Walter Turncoat', cursive;
    margin: 0;
}

.mainH1 {
    font-size: 14.25rem;
}

.contactH1,
.blogH1 {
    font-size: 12.15rem;
}

h3 {
    font-size: 4.5rem;
}

.button {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 3rem;
    background: $aqua;
    color: $blue;
}

.button:hover,
.button:focus {
    background: $grey;
    color: $blue;
}

@media screen and (max-width: $medium) {
    p {
        font-size: 1.8rem;
    }

    .skipLink {
        width: 25%;
    }
    
    .blogSkip {
        left: 3%;
        top: 1%;
    }
    
    .contactSkip {
        left: 2.7%;
    }
}

@media screen and (max-width: $small) {
    p {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    .skipLinkVisibility {
        display: none;
    }
} 


