$blue: #474BB5;
$darkBlue: #044779;
$grey: #F3FAFF;
$aqua: #08FDED;
$turquoise: #03697C;

$small: 425px;
$medium: 900px;
$large: 1480px;

html {
    font-size: 62.5%;
}

body {
    color: white;
    position: relative;
    overflow-x: hidden;
}

.skipLink {
    position: 'absolute';
    display: flex;
    justify-content: center;
    width: 12%;
    left: -1000px;
    top: 5px;
    z-index: 999;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', cursive;
    border: 0.4rem solid #e85b26;
}

.skipLink:focus {   
    left: 1%;
}

.wrapper {
    max-width: 1480px;
    width: 95%;
    margin: 0 auto;
}

p,
input [type='text'],
li {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    padding: 1% 2%;    
}

p, li {
    line-height: 2.9rem;
    letter-spacing: 0.1rem;
}

h1,
h2,
h3,
button,
input[type="submit"] {
    font-family: 'Walter Turncoat', cursive;
    margin: 0;
}

.mainH1 {
    font-size: 14.25rem;
}

.contactH1,
.blogH1 {
    font-size: 12.15rem;
}

h3 {
    font-size: 4.5rem;
}


